:root { 
--blue_900:#0047ad; 
--gray_400:#c2c2c2; 
--blue_gray_100:#d0d5dd; 
--blue_gray_50:#eff1f4; 
--blue_gray_300:#98a1b2; 
--gray_800:#4c4c4c; 
--indigo_50:#e4e7ec; 
--blue_gray_100_01:#d0d4dd; 
--gray_900:#101828; 
--blue_gray_500:#667185; 
--gray_900_01:#121212; 
--gray_800_01:#404040; 
--gray_200:#efefef; 
--blue_50:#e0edff; 
--gray_50:#f9f9fb; 
--gray_900_0c:#1018280c; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_gray_800:#344054; 
--blue_gray_700:#475267; 
--blue_50_01:#eaf3ff; 
--white_A700:#ffffff; 
}